* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100svh;
	width: 100%;
	overflow: hidden;
}

#text-container {
	height: calc(100% - 20px);
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	word-break: break-all;
}

#text-cursor {
	height: 15px;
	width: 15px;
}
