* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, form {
	height: 100svh;
	width: 100%;
}

#text-container {
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	resize: none;
	outline: none;
	white-space: pre-wrap;
}

#text-container:focus {
	border: 5px solid black;
}
